@import url("/style/header.css");
@import url("/style/banner.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #FECD2F;
    --azul-degrade: #130781a8 ;
    --fonte-principal:"Poppins";

    body {
    background-color: var(--cor-de-fundo);
    font-family: var(--onte-principal);
    font-size: 14px;
    font-weigth: 400;
        }